@import './profile.css';
@import './journal.css';
@import './user.css';
@import './notification.css';
@import './form.css';

/* Global Styles */
body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #fff;
  line-height: 1.6;
  background-image: url('../data/dndbackground.png');
  background-size: 117%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.home {
  text-align: center;
  padding: 2rem;
  color: #ffd700;
  font-family: 'Cinzel', serif;
  background: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 10px; /* Top-left corner */
  border-top-right-radius: 20px; /* Top-right corner */
  border-bottom-right-radius: 30px; /* Bottom-right corner */
  border-bottom-left-radius: 40px; /* Bottom-left corner */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.intro {
  font-size: 1.3rem;
  color: #ffffff;
  margin-top: 1rem;
}

.about {
  padding: 2rem;
  border-radius: 10px;
  max-width: 800px;
  margin: 2rem auto;
  color: #d4af37;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.about h2 {
  font-size: 2.2rem;
  color: #ffd700;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.description, .features, .cta {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #e0e0e0;
  margin-bottom: 1rem;
}

.cta {
  font-weight: bold;
  color: #ff6f61;
}

.App {
  text-align: center;
  max-height: fit-content;
  background-color: rgba(0, 0, 0, 0.03);
}

.container {
  padding: 2rem;
  max-width: 1000px;
  max-height: 1000px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.001);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.0003);
}


/* Button Styles */
.button-container {
  width: 100%; /* Full width for container */
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center button horizontally */
  margin-top: 10px; /* Space above button */
}

.button-container button {
  padding: 10px 20px; /* Padding for button */
  font-size: 1rem; /* Font size */
  background-color: #ff6f61; /* Button color */
  color: #fff; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s; /* Transition for hover effect */
  max-width: 150px; /* Limit button width */
}

.button-container button:hover {
  background-color: #ff4a3a; /* Darker color on hover */
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.7);
}

.logo-container img {
  width: 140px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.logo-container img:hover {
  transform: scale(1.1);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #d4af37;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: #ffd700;
  transform: translateY(-3px);
}


/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
  }

  .profile-card {
    width: 90%;
  }

  form {
    padding: 1rem;
  }
}


